* {
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(47, 88%, 63%);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* div */
.container {
  background-color: white;
  gap: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  max-width: 20%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 10px 10px black;
  overflow: auto;
}

.container img {
  display: inline-block;
  justify-self: center;
  align-self: center;
  max-width: 100%;
  border-radius: 10px;
}

/* conteudo do div */
.conteudo {
  display: inline-block;
}

.conteudo p {
  margin: 4px;
  font-family: "Figtree", sans-serif;
}

#bloco-learning {
  font-weight: 800;
  font-size: 14px;
  background-color: hsl(47, 88%, 63%);
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
}

#bloco-published {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 15px;
}

#bloco-botao {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 15px;
}

#bloco-botao a {
  text-decoration: none;
  color: black;
}

#bloco-botao a:hover {
  color: hsl(47, 88%, 63%);
}

#bloco-descricao {
  color: gray;
}

/* parte do usuario */
.usuario {
  display: flex;
  margin: 25px 0px 2px 4px;
  gap: 5px;
}

.usuario img {
  max-width: 100%;
  width: 10%;
}

.usuario p {
  justify-self: center;
  align-self: center;
  font-weight: 800;
  font-size: 14px;
}

@media screen and (max-width: 430px) {
  .container {
    max-width: 60%;
  }
}

@media screen and (max-width: 376px) {
  .container {
    max-width: 70%;
  }
}

.attribution {
  font-family: "Figtree", sans-serif;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 11px;
  color: hsl(228, 45%, 44%);
  margin: 15px;
}

.attribution a:hover {
  color: white;
}
